body{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/1/12/Flag_of_Poland.svg");

}
h1{
    color: darkgoldenrod;
    text-align: center;
    border-bottom:2px solid orangered;
    border-radius: 10px;
}

.center{
    text-align: center  ;
    margin-left: 30%;
    margin-right: 30%;
    height: 100%;
}

#recipe{
    background-color:antiquewhite;
    border: 5px;
    border-radius: 5px;
    border-color: pink;
    border-style: dotted;
}

.right{
    float: right;
}
